<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Todas Pessoas</title>
</head>

<body>
	<div layout:fragment="conteudo">

		<div th:replace="~{layout/fragments/sidebar :: sidebar(opcao=${uso})}"></div>

		<!-- conteudo principal -->
		<main class="mt-5 p-4 pt-5">
			<div class="container-fluid">

				<table class="table table-dark">
					<tr>
						<div
							th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'codigo', 'Código', 'w-25')}">
						</div>
						<!-- <div th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'nome', 'Proprietário', '')}"></div> -->
						
						<th scope="col">Cor</th>
						<th scope="col">Ano de Fabricação</th>
						<th scope="col">Placa</th>
						<th scope="col">Marca</th>
						<th scope="col">Nome do Veículo</th>
						<th scope="col">Proprietário</th>
						<div th:if="${uso == 'veiculos'}">
							<th scope="col" colspan="3">Operação</th>
						</div>
						<div th:if="${uso == 'agendamentos'}">
							<th scope="col" colspan="1">Operação</th>
						</div>
					</tr>
					<tr th:each="veiculo : ${pagina.conteudo}">
						<td th:text="${veiculo.codigo}"></td>
						
						<td th:text="${veiculo.cor}"></td>
						<td th:text="${veiculo.anoFabricacao}"></td>
						<td th:text="${veiculo.placa}"></td>
						<td th:text="${veiculo.marca}"></td>
						<td th:text="${veiculo.nome}"></td>
						<td th:text="${veiculo.usuario.nome}"></td>
						<div th:if="${uso == 'veiculos'}">
							<td>
								<form th:action="@{/veiculos/abriralterar}" method="POST">
									<input type="hidden" name="codigo" th:value="${veiculo.codigo}">
									 <button type="submit" class="btn btn-primary">
										<i class="bi bi-pencil-fill"></i>
									</button> 
								</form>
							</td>
							<td>
								<form th:action="@{/relatorios/veiculocomagendamentosselecionado}" method="get">
									<input type="hidden" th:value="'Você deseja fazer o download do relatório de veículo do(a) ' + ${veiculo.usuario.nome} + '?'" class="mensagem">
									<input type="hidden" name="codigo" th:value="${veiculo.codigo}">
									<button type="submit" class="btn btn-primary confirmacao">
										<i class="bi bi-file-earmark-arrow-down"></i>
									</button>
								</form>
							</td>
							<td>
								<form th:action="@{/veiculos/remover}" method="POST">
									<input type="hidden" th:value="'Você tem certeza que quer remover o veículo do(a) ' + ${veiculo.usuario.nome} + '?'" class="mensagem">
									<input type="hidden" name="codigo" th:value="${veiculo.codigo}">
									<button type="submit" class="btn btn-danger confirmacao">
										<i class="bi bi-trash-fill"></i>
									</button>
								</form>
							</td>
						</div>
						<div th:if="${uso == 'agendamentos'}">
							<td>
								<form th:action="@{/agendamentos/definirveiculo}" method="POST">
									<input type="hidden" name="codigoVeiculo" th:value="${veiculo.codigo}">
									<button type="submit" class="btn btn-primary">
										Escolher
									</button>
								</form>
							</td>
						</div>
					</tr>
				</table>

				<div th:replace="~{layout/fragments/paginacao :: paginacao(${pagina})}"></div>

			</div>
		</main>
		<!-- !conteudo principal -->

	</div>

</body>

</html>